@import "./reset.css";

body{
    background-color: black;
}
h1{

    font-size: 80px;
    color: white;
  text-align: center;
 
    
}

h4{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
   
}

.flexbox{

    justify-content: center;
    margin-bottom: 20px;
    
}
.Som{
color: white;
text-align: left;
margin-bottom: 20px;
margin-left: 250px;
margin-right: 0px;
font-size: 20px;
text-decoration-line: overline;
}
.imgsom {

height: 400px;
float: right;
margin-right: 30px;
vertical-align: middle;

}

h2{
    font-size: 35px;
background-color: gray;
width: 200px;
height: 200px;
position: relative;
border-radius: 50%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: inherit;
margin-bottom: 40px;
margin-left: 30px;
}



h3{
    background-color: gray;
width: 200px;
height: 200px;
position: relative;
border-radius: 50%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-size: 35px;
margin-bottom: 20px;
margin-left: 30px;
}

h5{background-color: gray;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-left: 30px;}

    h6{background-color: gray;
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        margin-left: 30px;
    margin-bottom: 20px;}



    p{
        justify-content: right;
        color: white;

        margin: 20px;
    }
    .imgarchi{ 
        height: 300px;
        margin: 20px;


    }
   
    section.images{
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin:30px 0;}

        .masse{ 
width: 600px;
display: block;
margin-left: auto;
margin-right: auto;

            }

            .plan{
                width: 300px;
                margin: auto;
                margin-bottom: 50px;
            }
            
            .ext1 div {
                width:300px;
              vertical-align:top;
              display:inline-block;
             
            
            }
            .int1 img {
                width:300px;
                height:300px;
                margin-left: 70px;
                margin-right: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            
            .int1 div {
                width:300px;
              vertical-align:top;
              display:inline-block;
             
            
            }
            .ext1 img {
                width:300px;
                height:300px;
                margin-left: 70px;
                margin-right: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
            }